@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.menu{
    display: flex;
    border-radius: 30px;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
    position: fixed;
    padding: 0px 41%;
}
.mb{
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: white;
}
.mb:hover{
    color: gray;
    transition: all 0.3s;
}
.mb:not(:hover){
    color: white;
    transition: all 0.3s;
}
#to_products{
    background-color: orange;
    margin: 10px;
    padding: 10px;
    border: 5px solid black ;
    border-radius: 90px;
    font-size: 48px;
    text-decoration: none;
    color: black;
    margin-left: 125px;
}
#to_products:hover{
    box-shadow: 0px 0px 25px 5px orangered;
    padding: 15px;
    transition: all 0.5s;
    font-size: 52px;
}
#to_products:not(:hover){
    box-shadow: 0px 0px 0px 0px orangered;
    padding: 10px;
    transition: all 0.5s;
    font-size: 48px;
}
h1{
    font-size: 120px;
    font-family: Roboto;
    position: relative;
    margin-left: 125px;
    margin-top: 125px;
    animation-name:txt_anim;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}
body{
    background-color: #212121;
    color: white;
    font-family: Roboto;
    margin: 0px;
}
h2{
    font-size: 64px;
    margin-left: 70px;
    animation-name:txt_anim;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.logo>img{
    width: 30%;
    height: 30%;
    margin-right: 125px;
    margin-top: 125px;
}
.logo{
    display: flex;
    justify-content: space-between;
    animation-name:txt_anim;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;

}
hr{
    background-color: orange;
    margin-top: 65px;
}
h2{
    text-align: center;
    font-size: 96px;
}
p{
    
    font-family: Roboto;
    line-height: 2;
}
.history{
    display: flex;
    margin: 25px 125px;
    border-radius: 180px;
    border: red solid 5px;
    background-color: orange;
    color: black;
    padding: 30px;
    font-size: 24px;
    flex-direction: column;
    align-items: center;
    
}
.history:hover{
    box-shadow: 0px 0px 40px 5px orangered;
    padding: 50px;
    margin: 15px 100px;
    transition: all 0.7s;
}
.history:not(:hover){
    box-shadow: 0px 0px 0px 0px orangered;
    padding: 30px;
    margin: 25px 125px;
    transition: all 0.7s;
}
.app{
    text-align: none;
    text-decoration: none;
    color:white;
    font-size: medium;
}
.iapp{
    width: 500px;
    height: 350px;
    border-radius: 50px;
    object-fit: cover;

}
.iapp:hover{
    width: 550px;
    height: 400px;
    transition: 0.7s;
    box-shadow: 0px 0px 25px 5px orangered;
}
.iapp:not(:hover){
    width: 500px;
    height: 350px;
    transition: 0.7s;
}
.app:hover{
    font-size: larger;
    transition: all 0.5s;
}
.app:not(:hover){
    font-size: medium;
    transition: all 0.5s;
}
#products{
    display: flex;
    justify-content: space-evenly;
    flex-flow: column wrap;
    flex-direction: row;
    margin: 200px;
    
    
}
footer{
    background-color: black;
}
h3{
    font-size: 48px;
    animation-name:txt_anim;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.footer_text{
    margin-bottom: 0;
    text-align: center;
}
#dia{
    margin: 125px;
}
#qqq{
    margin: 70px 125px;
}
.main_txt{
    text-align: center;
}
@keyframes txt_anim{
    0%{
        opacity: 0%;
        right: 50px;

    }
    100%{
        opacity: 100%;
        right:0px;
    }
}
p{
    animation-name:txt_anim;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
